@import 'bourbon';
body {
	background-color: lightblue;
	
	#content {
		width: 1000px;
		min-height: 500px;
		margin: 0px auto;
		background-color: lightgray;
		border-radius: 10px;
		@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
		@include linear-gradient(50deg, rgba(10, 10, 10, 0.5) 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	}
}