body {
  background-color: lightblue; }
  body #content {
    width: 1000px;
    min-height: 500px;
    margin: 0px auto;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px hsla(0, 0%, 0%, 0.65);
    /* @warn: box-shadow is will be removed in the next major version release */
    background-color: false;
    background-image: -webkit-gradient(linear, left top, left bottom, false);
    background-image: -webkit-linear-gradient(50deg, false);
    background-image: -moz-linear-gradient(50deg, false);
    background-image: -ms-linear-gradient(50deg, false);
    background-image: -o-linear-gradient(50deg, false);
    background-image: linear-gradient(50deg, false); }

